In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import numpy as np
import pandas as pd
import sklearn
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from sklearn import feature_extraction,model_selection
from sklearn.metrics import confusion_matrix
import glob
import os
import string
import tensorflow as tf
import keras as K
import zipfile
from itertools import chain
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
import matplotlib.pyplot as plt
from sklearn.metrics import plot_confusion_matrix, classification_report

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [4]:
# importing Word2Vec
from gensim.models import Word2Vec
from gensim.models import FastText

In [5]:
X=pd.read_csv('/content/hindi_tr.csv')
X.head()

       tweet_id  ...                  ID
0  1.127755e+18  ...  hasoc_2020_hi_2250
1  1.123579e+18  ...   hasoc_2020_hi_381
2  1.127750e+18  ...  hasoc_2020_hi_1510
3  1.127661e+18  ...  hasoc_2020_hi_1010
4  1.123487e+18  ...   hasoc_2020_hi_331

[5 rows x 5 columns]

In [6]:
X=X[['text','task1']]
X

                                                   text task1
0     1 आदमीं को मारने पर गोडसे आतंकी हो सके है तो\n...   HOF
1     RT @Vishesh4: @jawaharyadavbjp जवाहर यादव, अगर...   NOT
2     RT @FunKeyBaat: #भगवा वस्त्र पहन कर मतदान नही ...   HOF
3     Yey nina khothani labafazi benu phambili Finis...   HOF
4     RT @Rajeshbhanjan2: जब भी कोई सिकुलर कोंग्रेसी...   HOF
...                                                 ...   ...
2958  @Varun_dvn जिसके नाम के साथ इंडिअनस लगा हो उसक...   NOT
2959  मुझे सबसे ज्यादा राहुल और सोनियाके बारे बुरा ल...   NOT
2960  RT @Gujju_Er: एक आतंकी जिसे कांग्रेस ने\n'शांत...   HOF
2961  RT @dayanand151: @jafahar1 @BBCHindi @Hariramk...   HOF
2962  RT @manakgupta: “हमें 5 साल हो गए, हमने संविधा...   NOT

[2963 rows x 2 columns]

In [7]:
df1=pd.read_csv('/content/hindi_test_1509.csv')
df1.head()

              tweet_id  ...                  ID
0  1127781647783301120  ...  hasoc_2020_hi_1938
1  1127492853171535872  ...  hasoc_2020_hi_1201
2  1123638375896903681  ...  hasoc_2020_hi_1628
3  1127496460310683648  ...  hasoc_2020_hi_3257
4  1127667277535399937  ...  hasoc_2020_hi_4133

[5 rows x 5 columns]

In [8]:
Y=df1[['text','task1']]
Y

                                                  text task1
0    @Kinjal_Dubey_ इसके लिए तैयारी हो रखी है\nआपको...   HOF
1    RT @pratimamishra04: दिल्ली के मुख्यमंत्री @Ar...   NOT
2    RT @nishantdabre2: आज एक तरफ खुशी है, तो एक तर...   NOT
3    @BJP4India @HardeepSPuri जिस कुनबे के लोग :-\n...   NOT
4                              @manakgupta बादल....😂😂😂   NOT
..                                                 ...   ...
658  RT @AishwaryVerma9: दिल्ली में शून्य थे और शून...   NOT
659  RT @KARUNASHANKEROJ: @sagarikaghose एक आर्टिकल...   HOF
660  @CM_P17 @PShatrujeet रमजान शुरू लेकिन मजाल है ...   HOF
661  RT @rukasa007: तो तुम्हारे सिर में एक गोली उता...   NOT
662  @athavale_abhi @kavita_tewari गांधी परिवार और ...   HOF

[663 rows x 2 columns]

In [9]:
X.head()

                                                text task1
0  1 आदमीं को मारने पर गोडसे आतंकी हो सके है तो\n...   HOF
1  RT @Vishesh4: @jawaharyadavbjp जवाहर यादव, अगर...   NOT
2  RT @FunKeyBaat: #भगवा वस्त्र पहन कर मतदान नही ...   HOF
3  Yey nina khothani labafazi benu phambili Finis...   HOF
4  RT @Rajeshbhanjan2: जब भी कोई सिकुलर कोंग्रेसी...   HOF

In [10]:
cols=['task1']
X[cols] = X[cols].apply(lambda x: pd.factorize(x)[0] + 0)
Y[cols] = Y[cols].apply(lambda x: pd.factorize(x)[0] + 0)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [11]:
X.head()

                                                text  task1
0  1 आदमीं को मारने पर गोडसे आतंकी हो सके है तो\n...      0
1  RT @Vishesh4: @jawaharyadavbjp जवाहर यादव, अगर...      1
2  RT @FunKeyBaat: #भगवा वस्त्र पहन कर मतदान नही ...      0
3  Yey nina khothani labafazi benu phambili Finis...      0
4  RT @Rajeshbhanjan2: जब भी कोई सिकुलर कोंग्रेसी...      0

In [12]:
Y.head()

                                                text  task1
0  @Kinjal_Dubey_ इसके लिए तैयारी हो रखी है\nआपको...      0
1  RT @pratimamishra04: दिल्ली के मुख्यमंत्री @Ar...      1
2  RT @nishantdabre2: आज एक तरफ खुशी है, तो एक तर...      1
3  @BJP4India @HardeepSPuri जिस कुनबे के लोग :-\n...      1
4                            @manakgupta बादल....😂😂😂      1

In [13]:
X_train=X['text']
X_train

0       1 आदमीं को मारने पर गोडसे आतंकी हो सके है तो\n...
1       RT @Vishesh4: @jawaharyadavbjp जवाहर यादव, अगर...
2       RT @FunKeyBaat: #भगवा वस्त्र पहन कर मतदान नही ...
3       Yey nina khothani labafazi benu phambili Finis...
4       RT @Rajeshbhanjan2: जब भी कोई सिकुलर कोंग्रेसी...
                              ...
2958    @Varun_dvn जिसके नाम के साथ इंडिअनस लगा हो उसक...
2959    मुझे सबसे ज्यादा राहुल और सोनियाके बारे बुरा ल...
2960    RT @Gujju_Er: एक आतंकी जिसे कांग्रेस ने\n'शांत...
2961    RT @dayanand151: @jafahar1 @BBCHindi @Hariramk...
2962    RT @manakgupta: “हमें 5 साल हो गए, हमने संविधा...
Name: text, Length: 2963, dtype: object

In [14]:
y_train=X['task1']
y_train

0       0
1       1
2       0
3       0
4       0
       ..
2958    1
2959    1
2960    0
2961    0
2962    1
Name: task1, Length: 2963, dtype: int64

In [15]:
X_test=Y['text']
X_test

0      @Kinjal_Dubey_ इसके लिए तैयारी हो रखी है\nआपको...
1      RT @pratimamishra04: दिल्ली के मुख्यमंत्री @Ar...
2      RT @nishantdabre2: आज एक तरफ खुशी है, तो एक तर...
3      @BJP4India @HardeepSPuri जिस कुनबे के लोग :-\n...
4                                @manakgupta बादल....😂😂😂
                             ...
658    RT @AishwaryVerma9: दिल्ली में शून्य थे और शून...
659    RT @KARUNASHANKEROJ: @sagarikaghose एक आर्टिकल...
660    @CM_P17 @PShatrujeet रमजान शुरू लेकिन मजाल है ...
661    RT @rukasa007: तो तुम्हारे सिर में एक गोली उता...
662    @athavale_abhi @kavita_tewari गांधी परिवार और ...
Name: text, Length: 663, dtype: object

In [16]:
y_test=Y['task1']
y_test

0      0
1      1
2      1
3      1
4      1
      ..
658    1
659    0
660    0
661    1
662    0
Name: task1, Length: 663, dtype: int64

In [17]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((2963,), (663,), (2963,), (663,))

In [18]:
def create_tokens(lines):
  #stop_words = set(nltk.corpus.stopwords.words('english'))
  t_line=lines.apply(lambda x: nltk.word_tokenize(x))
  #t_line=t_line.apply(lambda x: [w for w in x if not w in stop_words])
  return t_line

In [19]:
X_train=create_tokens(X_train)
print(X_train)
tokenizer= Tokenizer()
tokenizer.fit_on_texts(X_train)
tokenizer

0       [1, आदमीं, को, मारने, पर, गोडसे, आतंकी, हो, सक...
1       [RT, @, Vishesh4, :, @, jawaharyadavbjp, जवाहर...
2       [RT, @, FunKeyBaat, :, #, भगवा, वस्त्र, पहन, क...
3       [Yey, nina, khothani, labafazi, benu, phambili...
4       [RT, @, Rajeshbhanjan2, :, जब, भी, कोई, सिकुलर...
                              ...
2958    [@, Varun_dvn, जिसके, नाम, के, साथ, इंडिअनस, ल...
2959    [मुझे, सबसे, ज्यादा, राहुल, और, सोनियाके, बारे...
2960    [RT, @, Gujju_Er, :, एक, आतंकी, जिसे, कांग्रेस...
2961    [RT, @, dayanand151, :, @, jafahar1, @, BBCHin...
2962    [RT, @, manakgupta, :, “, हमें, 5, साल, हो, गए...
Name: text, Length: 2963, dtype: object

In [20]:
length=np.average(X_train.apply(lambda x:len(x)*len(x)))
length=np.sqrt(length)
print(length)
length=48

29.573449750382068

In [21]:
def encode_text(tokenizer, lines, length):
  encoded = tokenizer.texts_to_sequences(lines)
  padded = pad_sequences(encoded, maxlen=length, padding='post')
  return padded

In [22]:
word_index=tokenizer.word_index

In [23]:
X_test=create_tokens(X_test)
print(X_test)

0      [@, Kinjal_Dubey_, इसके, लिए, तैयारी, हो, रखी,...
1      [RT, @, pratimamishra04, :, दिल्ली, के, मुख्यम...
2      [RT, @, nishantdabre2, :, आज, एक, तरफ, खुशी, ह...
3      [@, BJP4India, @, HardeepSPuri, जिस, कुनबे, के...
4                       [@, manakgupta, बादल, ..., .😂😂😂]
                             ...
658    [RT, @, AishwaryVerma9, :, दिल्ली, में, शून्य,...
659    [RT, @, KARUNASHANKEROJ, :, @, sagarikaghose, ...
660    [@, CM_P17, @, PShatrujeet, रमजान, शुरू, लेकिन...
661    [RT, @, rukasa007, :, तो, तुम्हारे, सिर, में, ...
662    [@, athavale_abhi, @, kavita_tewari, गांधी, पर...
Name: text, Length: 663, dtype: object

In [24]:
X_train=encode_text(tokenizer,X_train,length)
X_train
#pd.DataFrame(train_x).to_csv("train_file.csv")

array([[  258,  4967,     9, ...,     0,     0,     0],
       [    4,     1,  4973, ...,     0,     0,     0],
       [    4,     1,  1497, ...,     0,     0,     0],
       ...,
       [    4,     1, 14733, ...,     0,     0,     0],
       [    4,     1, 14736, ...,     0,     0,     0],
       [    4,     1,   641, ...,     0,     0,     0]], dtype=int32)

In [25]:
X_test=encode_text(tokenizer,X_test,length)
X_test
#pd.DataFrame(train_x).to_csv("train_file.csv")

array([[   1,  299,   40, ...,    0,    0,    0],
       [   4,    1,    2, ...,    0,    0,    0],
       [   4,    1,    2, ...,    0,    0,    0],
       ...,
       [   1,    1, 4755, ...,    0,    0,    0],
       [   4,    1, 1219, ...,    0,    0,    0],
       [   1,    1,  144, ...,    0,    0,    0]], dtype=int32)

In [26]:
from keras.utils.np_utils import to_categorical
y_test = to_categorical(np.asarray(y_test))
y_train = to_categorical(np.asarray(y_train))
print(y_test)
print(y_train)

[[1. 0.]
 [0. 1.]
 [0. 1.]
 ...
 [1. 0.]
 [0. 1.]
 [1. 0.]]
[[1. 0.]
 [0. 1.]
 [1. 0.]
 ...
 [1. 0.]
 [1. 0.]
 [0. 1.]]

In [27]:
# print(len(X_train))
# print(len(X_test))
# print(len(y_train))
# print(len(y_test))
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((2963, 48), (663, 48), (2963, 2), (663, 2))

In [29]:
# Creating embedding matrix
# Using 
import zipfile
zip_ref = zipfile.ZipFile("/content/drive/My Drive/Copy of crawl-300d-2M.vec.zip", 'r')
zip_ref.extractall()
zip_ref.close()

In [30]:
#load pre-trained embedding:
embeddings_index = {}
f = open('/content/crawl-300d-2M.vec', encoding="utf8")
for line in f:
    values = line.split()#This splits each values in a  line with spaces
    word = values[0] # This store the first values which is the word in english
    coefs = np.asarray(values[1:], dtype='float32') # This converts all splitted values from 1 to last(expect first word) into an array
    embeddings_index[word] = coefs # english word = array of numerical values
f.close()
print('Total %s word vectors in crawl-300-2M.' % len(embeddings_index))

Total 1999996 word vectors in crawl-300-2M.

In [31]:
print((X_train))
print((X_test))
print((y_train))
print((y_test))

[[  258  4967     9 ...     0     0     0]
 [    4     1  4973 ...     0     0     0]
 [    4     1  1497 ...     0     0     0]
 ...
 [    4     1 14733 ...     0     0     0]
 [    4     1 14736 ...     0     0     0]
 [    4     1   641 ...     0     0     0]]
[[   1  299   40 ...    0    0    0]
 [   4    1    2 ...    0    0    0]
 [   4    1    2 ...    0    0    0]
 ...
 [   1    1 4755 ...    0    0    0]
 [   4    1 1219 ...    0    0    0]
 [   1    1  144 ...    0    0    0]]
[[1. 0.]
 [0. 1.]
 [1. 0.]
 ...
 [1. 0.]
 [1. 0.]
 [0. 1.]]
[[1. 0.]
 [0. 1.]
 [0. 1.]
 ...
 [1. 0.]
 [0. 1.]
 [1. 0.]]

In [33]:
# Initialize the weight for each word for the embedding layer. Words not present
# in the dictionary initialized by random value 
EMBEDDING_DIM = 300
embedding_matrix = np.random.random((len(word_index) + 1, EMBEDDING_DIM))
#embedding_matrix = (16433, 100) NOTE: It is from uniques words in our tweets
for word, i in word_index.items(): # Selecting word from our tweet unique words list for changing with the values from glove
    embedding_vector = embeddings_index.get(word) # Finding our tweet words in glove and taking its array of 100 values
    if embedding_vector is not None: 
#words not found in embedding index will be all-zeros.
        embedding_matrix[i] = embedding_vector
embedding_matrix.shape

(14743, 300)

In [34]:
from keras.utils.vis_utils import plot_model
from keras.models import Sequential
from keras.layers import Input,LSTM
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import Dropout
from keras.layers import Embedding
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
model=Sequential()
model.add(Embedding(input_dim = 14743, output_dim = 300, weights=[embedding_matrix], input_length=length,trainable=False))
model.add(LSTM(192, dropout=0.3, recurrent_dropout=0.2))
model.add(Dense(2,activation='softmax'))
model.compile(loss = 'binary_crossentropy', optimizer='adam',metrics = ['accuracy'])
model.summary()

WARNING:tensorflow:Layer lstm will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 48, 300)           4422900
_________________________________________________________________
lstm (LSTM)                  (None, 192)               378624
_________________________________________________________________
dense (Dense)                (None, 2)                 386
=================================================================
Total params: 4,801,910
Trainable params: 379,010
Non-trainable params: 4,422,900
_________________________________________________________________

In [35]:
model.fit(X_train, y_train, validation_data = (X_test, y_test),epochs=100,batch_size=256, verbose=2)

Epoch 1/100
12/12 - 2s - loss: 0.7450 - accuracy: 0.6797 - val_loss: 0.6295 - val_accuracy: 0.7074
Epoch 2/100
12/12 - 2s - loss: 0.6090 - accuracy: 0.7135 - val_loss: 0.6081 - val_accuracy: 0.7029
Epoch 3/100
12/12 - 2s - loss: 0.5977 - accuracy: 0.7148 - val_loss: 0.6044 - val_accuracy: 0.7029
Epoch 4/100
12/12 - 2s - loss: 0.5946 - accuracy: 0.7145 - val_loss: 0.6062 - val_accuracy: 0.7029
Epoch 5/100
12/12 - 2s - loss: 0.5949 - accuracy: 0.7145 - val_loss: 0.6035 - val_accuracy: 0.7029
Epoch 6/100
12/12 - 2s - loss: 0.5962 - accuracy: 0.7148 - val_loss: 0.6050 - val_accuracy: 0.7029
Epoch 7/100
12/12 - 2s - loss: 0.5960 - accuracy: 0.7155 - val_loss: 0.6075 - val_accuracy: 0.7029
Epoch 8/100
12/12 - 2s - loss: 0.5949 - accuracy: 0.7168 - val_loss: 0.6034 - val_accuracy: 0.7014
Epoch 9/100
12/12 - 2s - loss: 0.5939 - accuracy: 0.7179 - val_loss: 0.6083 - val_accuracy: 0.7029
Epoch 10/100
12/12 - 2s - loss: 0.5932 - accuracy: 0.7165 - val_loss: 0.6057 - val_accuracy: 0.7029
Epoch 11/100
12/12 - 2s - loss: 0.5905 - accuracy: 0.7206 - val_loss: 0.6073 - val_accuracy: 0.6998
Epoch 12/100
12/12 - 2s - loss: 0.5939 - accuracy: 0.7185 - val_loss: 0.6079 - val_accuracy: 0.6998
Epoch 13/100
12/12 - 2s - loss: 0.5932 - accuracy: 0.7195 - val_loss: 0.6053 - val_accuracy: 0.6998
Epoch 14/100
12/12 - 2s - loss: 0.5893 - accuracy: 0.7206 - val_loss: 0.6172 - val_accuracy: 0.7029
Epoch 15/100
12/12 - 2s - loss: 0.5874 - accuracy: 0.7199 - val_loss: 0.6096 - val_accuracy: 0.7014
Epoch 16/100
12/12 - 2s - loss: 0.5830 - accuracy: 0.7222 - val_loss: 0.6104 - val_accuracy: 0.7014
Epoch 17/100
12/12 - 2s - loss: 0.5791 - accuracy: 0.7229 - val_loss: 0.6144 - val_accuracy: 0.7044
Epoch 18/100
12/12 - 2s - loss: 0.5799 - accuracy: 0.7236 - val_loss: 0.6171 - val_accuracy: 0.7029
Epoch 19/100
12/12 - 2s - loss: 0.5785 - accuracy: 0.7212 - val_loss: 0.6060 - val_accuracy: 0.7029
Epoch 20/100
12/12 - 2s - loss: 0.5751 - accuracy: 0.7229 - val_loss: 0.5914 - val_accuracy: 0.7059
Epoch 21/100
12/12 - 2s - loss: 0.5832 - accuracy: 0.7222 - val_loss: 0.5978 - val_accuracy: 0.7089
Epoch 22/100
12/12 - 2s - loss: 0.5752 - accuracy: 0.7253 - val_loss: 0.6056 - val_accuracy: 0.7044
Epoch 23/100
12/12 - 2s - loss: 0.5689 - accuracy: 0.7266 - val_loss: 0.5936 - val_accuracy: 0.7089
Epoch 24/100
12/12 - 2s - loss: 0.5680 - accuracy: 0.7246 - val_loss: 0.5961 - val_accuracy: 0.7044
Epoch 25/100
12/12 - 2s - loss: 0.5644 - accuracy: 0.7253 - val_loss: 0.5904 - val_accuracy: 0.7029
Epoch 26/100
12/12 - 2s - loss: 0.5660 - accuracy: 0.7246 - val_loss: 0.6150 - val_accuracy: 0.7074
Epoch 27/100
12/12 - 2s - loss: 0.5604 - accuracy: 0.7280 - val_loss: 0.6235 - val_accuracy: 0.7014
Epoch 28/100
12/12 - 2s - loss: 0.5566 - accuracy: 0.7273 - val_loss: 0.5857 - val_accuracy: 0.7029
Epoch 29/100
12/12 - 2s - loss: 0.5547 - accuracy: 0.7310 - val_loss: 0.6369 - val_accuracy: 0.7044
Epoch 30/100
12/12 - 2s - loss: 0.5556 - accuracy: 0.7290 - val_loss: 0.6017 - val_accuracy: 0.7014
Epoch 31/100
12/12 - 2s - loss: 0.5491 - accuracy: 0.7290 - val_loss: 0.6387 - val_accuracy: 0.7059
Epoch 32/100
12/12 - 2s - loss: 0.5388 - accuracy: 0.7374 - val_loss: 0.6811 - val_accuracy: 0.7029
Epoch 33/100
12/12 - 2s - loss: 0.5473 - accuracy: 0.7314 - val_loss: 0.6041 - val_accuracy: 0.7014
Epoch 34/100
12/12 - 2s - loss: 0.5342 - accuracy: 0.7297 - val_loss: 0.6187 - val_accuracy: 0.6998
Epoch 35/100
12/12 - 2s - loss: 0.5365 - accuracy: 0.7324 - val_loss: 0.6586 - val_accuracy: 0.7014
Epoch 36/100
12/12 - 2s - loss: 0.5332 - accuracy: 0.7371 - val_loss: 0.6780 - val_accuracy: 0.7044
Epoch 37/100
12/12 - 2s - loss: 0.5316 - accuracy: 0.7395 - val_loss: 0.5918 - val_accuracy: 0.6968
Epoch 38/100
12/12 - 2s - loss: 0.5279 - accuracy: 0.7418 - val_loss: 0.6481 - val_accuracy: 0.7044
Epoch 39/100
12/12 - 2s - loss: 0.5155 - accuracy: 0.7459 - val_loss: 0.6300 - val_accuracy: 0.7059
Epoch 40/100
12/12 - 2s - loss: 0.5071 - accuracy: 0.7503 - val_loss: 0.6446 - val_accuracy: 0.6983
Epoch 41/100
12/12 - 2s - loss: 0.5177 - accuracy: 0.7503 - val_loss: 0.6020 - val_accuracy: 0.6893
Epoch 42/100
12/12 - 2s - loss: 0.4973 - accuracy: 0.7482 - val_loss: 0.6435 - val_accuracy: 0.7089
Epoch 43/100
12/12 - 2s - loss: 0.4898 - accuracy: 0.7624 - val_loss: 0.5951 - val_accuracy: 0.6998
Epoch 44/100
12/12 - 2s - loss: 0.4825 - accuracy: 0.7668 - val_loss: 0.6438 - val_accuracy: 0.6998
Epoch 45/100
12/12 - 2s - loss: 0.4775 - accuracy: 0.7746 - val_loss: 0.6510 - val_accuracy: 0.6953
Epoch 46/100
12/12 - 2s - loss: 0.4502 - accuracy: 0.7891 - val_loss: 0.7523 - val_accuracy: 0.7074
Epoch 47/100
12/12 - 2s - loss: 0.4289 - accuracy: 0.7995 - val_loss: 0.6740 - val_accuracy: 0.6772
Epoch 48/100
12/12 - 2s - loss: 0.4662 - accuracy: 0.7800 - val_loss: 0.6154 - val_accuracy: 0.6637
Epoch 49/100
12/12 - 2s - loss: 0.4495 - accuracy: 0.7887 - val_loss: 0.6710 - val_accuracy: 0.6998
Epoch 50/100
12/12 - 2s - loss: 0.4288 - accuracy: 0.8016 - val_loss: 0.7655 - val_accuracy: 0.6833
Epoch 51/100
12/12 - 2s - loss: 0.4221 - accuracy: 0.8073 - val_loss: 0.7005 - val_accuracy: 0.6275
Epoch 52/100
12/12 - 2s - loss: 0.4167 - accuracy: 0.8107 - val_loss: 0.7147 - val_accuracy: 0.6682
Epoch 53/100
12/12 - 2s - loss: 0.4158 - accuracy: 0.8046 - val_loss: 0.6842 - val_accuracy: 0.6772
Epoch 54/100
12/12 - 2s - loss: 0.4039 - accuracy: 0.8232 - val_loss: 0.6906 - val_accuracy: 0.6787
Epoch 55/100
12/12 - 2s - loss: 0.3831 - accuracy: 0.8309 - val_loss: 0.7188 - val_accuracy: 0.6848
Epoch 56/100
12/12 - 2s - loss: 0.3535 - accuracy: 0.8471 - val_loss: 0.7508 - val_accuracy: 0.6953
Epoch 57/100
12/12 - 2s - loss: 0.3551 - accuracy: 0.8448 - val_loss: 0.8199 - val_accuracy: 0.6968
Epoch 58/100
12/12 - 2s - loss: 0.3534 - accuracy: 0.8387 - val_loss: 0.7741 - val_accuracy: 0.7059
Epoch 59/100
12/12 - 2s - loss: 0.3502 - accuracy: 0.8464 - val_loss: 0.7715 - val_accuracy: 0.6561
Epoch 60/100
12/12 - 2s - loss: 0.3320 - accuracy: 0.8569 - val_loss: 0.8363 - val_accuracy: 0.6863
Epoch 61/100
12/12 - 2s - loss: 0.3281 - accuracy: 0.8562 - val_loss: 0.7842 - val_accuracy: 0.6983
Epoch 62/100
12/12 - 2s - loss: 0.2928 - accuracy: 0.8819 - val_loss: 0.9230 - val_accuracy: 0.6667
Epoch 63/100
12/12 - 2s - loss: 0.3031 - accuracy: 0.8718 - val_loss: 0.9281 - val_accuracy: 0.6938
Epoch 64/100
12/12 - 2s - loss: 0.2892 - accuracy: 0.8849 - val_loss: 0.9214 - val_accuracy: 0.6380
Epoch 65/100
12/12 - 2s - loss: 0.2876 - accuracy: 0.8761 - val_loss: 0.9347 - val_accuracy: 0.6516
Epoch 66/100
12/12 - 2s - loss: 0.2838 - accuracy: 0.8846 - val_loss: 0.9558 - val_accuracy: 0.6908
Epoch 67/100
12/12 - 2s - loss: 0.2835 - accuracy: 0.8775 - val_loss: 1.0323 - val_accuracy: 0.6968
Epoch 68/100
12/12 - 2s - loss: 0.2491 - accuracy: 0.9001 - val_loss: 1.0615 - val_accuracy: 0.6908
Epoch 69/100
12/12 - 2s - loss: 0.2711 - accuracy: 0.8934 - val_loss: 0.9671 - val_accuracy: 0.6817
Epoch 70/100
12/12 - 2s - loss: 0.2456 - accuracy: 0.9001 - val_loss: 1.0070 - val_accuracy: 0.6682
Epoch 71/100
12/12 - 2s - loss: 0.2315 - accuracy: 0.9085 - val_loss: 0.9754 - val_accuracy: 0.6516
Epoch 72/100
12/12 - 2s - loss: 0.2162 - accuracy: 0.9180 - val_loss: 1.2029 - val_accuracy: 0.6214
Epoch 73/100
12/12 - 2s - loss: 0.2535 - accuracy: 0.8927 - val_loss: 0.9823 - val_accuracy: 0.6275
Epoch 74/100
12/12 - 2s - loss: 0.2264 - accuracy: 0.9069 - val_loss: 1.1738 - val_accuracy: 0.6968
Epoch 75/100
12/12 - 2s - loss: 0.2058 - accuracy: 0.9197 - val_loss: 1.1453 - val_accuracy: 0.6757
Epoch 76/100
12/12 - 2s - loss: 0.1821 - accuracy: 0.9305 - val_loss: 1.2374 - val_accuracy: 0.6697
Epoch 77/100
12/12 - 2s - loss: 0.1740 - accuracy: 0.9362 - val_loss: 1.2793 - val_accuracy: 0.6953
Epoch 78/100
12/12 - 2s - loss: 0.1740 - accuracy: 0.9379 - val_loss: 1.4087 - val_accuracy: 0.6953
Epoch 79/100
12/12 - 2s - loss: 0.1745 - accuracy: 0.9339 - val_loss: 1.1934 - val_accuracy: 0.6802
Epoch 80/100
12/12 - 2s - loss: 0.1860 - accuracy: 0.9234 - val_loss: 1.2048 - val_accuracy: 0.6848
Epoch 81/100
12/12 - 2s - loss: 0.1888 - accuracy: 0.9274 - val_loss: 1.1846 - val_accuracy: 0.6410
Epoch 82/100
12/12 - 2s - loss: 0.2029 - accuracy: 0.9204 - val_loss: 1.1318 - val_accuracy: 0.6682
Epoch 83/100
12/12 - 2s - loss: 0.1610 - accuracy: 0.9359 - val_loss: 1.3249 - val_accuracy: 0.6727
Epoch 84/100
12/12 - 2s - loss: 0.1682 - accuracy: 0.9362 - val_loss: 1.2092 - val_accuracy: 0.6395
Epoch 85/100
12/12 - 2s - loss: 0.1553 - accuracy: 0.9426 - val_loss: 1.2508 - val_accuracy: 0.6848
Epoch 86/100
12/12 - 2s - loss: 0.1466 - accuracy: 0.9413 - val_loss: 1.3237 - val_accuracy: 0.6983
Epoch 87/100
12/12 - 2s - loss: 0.1445 - accuracy: 0.9440 - val_loss: 1.3936 - val_accuracy: 0.6742
Epoch 88/100
12/12 - 2s - loss: 0.1348 - accuracy: 0.9480 - val_loss: 1.4979 - val_accuracy: 0.6802
Epoch 89/100
12/12 - 2s - loss: 0.1502 - accuracy: 0.9389 - val_loss: 1.3384 - val_accuracy: 0.6893
Epoch 90/100
12/12 - 2s - loss: 0.1193 - accuracy: 0.9544 - val_loss: 1.4722 - val_accuracy: 0.6621
Epoch 91/100
12/12 - 2s - loss: 0.1273 - accuracy: 0.9524 - val_loss: 1.4769 - val_accuracy: 0.6878
Epoch 92/100
12/12 - 2s - loss: 0.1184 - accuracy: 0.9555 - val_loss: 1.5596 - val_accuracy: 0.6742
Epoch 93/100
12/12 - 2s - loss: 0.1204 - accuracy: 0.9571 - val_loss: 1.5351 - val_accuracy: 0.6772
Epoch 94/100
12/12 - 2s - loss: 0.1267 - accuracy: 0.9521 - val_loss: 1.4519 - val_accuracy: 0.6501
Epoch 95/100
12/12 - 2s - loss: 0.1360 - accuracy: 0.9450 - val_loss: 1.4162 - val_accuracy: 0.6712
Epoch 96/100
12/12 - 2s - loss: 0.1199 - accuracy: 0.9571 - val_loss: 1.4676 - val_accuracy: 0.6637
Epoch 97/100
12/12 - 2s - loss: 0.1125 - accuracy: 0.9561 - val_loss: 1.4336 - val_accuracy: 0.6727
Epoch 98/100
12/12 - 2s - loss: 0.1352 - accuracy: 0.9555 - val_loss: 1.4701 - val_accuracy: 0.6908
Epoch 99/100
12/12 - 2s - loss: 0.1106 - accuracy: 0.9639 - val_loss: 1.5874 - val_accuracy: 0.6667
Epoch 100/100
12/12 - 2s - loss: 0.1139 - accuracy: 0.9588 - val_loss: 1.5180 - val_accuracy: 0.6787

In [36]:
predictions_test = model.predict(X_test)

predictions_test

array([[2.4004277e-02, 9.7599572e-01],
       [2.1958204e-03, 9.9780422e-01],
       [5.5064507e-02, 9.4493550e-01],
       ...,
       [3.3831887e-04, 9.9966168e-01],
       [8.7119287e-01, 1.2880717e-01],
       [4.8772740e-04, 9.9951231e-01]], dtype=float32)

In [37]:
pred_test=np.zeros_like(predictions_test)
pred_test[np.arange(len(predictions_test)),predictions_test.argmax(1)]=1
# output_DataFrame=pd.DataFrame(pred_test.argmax(axis=1),index=df1.index)
# output_DataFrame[0]=output_DataFrame[0].map({0:'NAG',1:'CAG',2:'OAG'})
# output_DataFrame.to_csv("Hindi Subtask B ou.csv")

In [38]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pred_test))

              precision    recall  f1-score   support

           0       0.43      0.24      0.31       197
           1       0.73      0.86      0.79       466

   micro avg       0.68      0.68      0.68       663
   macro avg       0.58      0.55      0.55       663
weighted avg       0.64      0.68      0.65       663
 samples avg       0.68      0.68      0.68       663

In [39]:
  df3=df1[['tweet_id','ID']]
  df3

                tweet_id                  ID
0    1127781647783301120  hasoc_2020_hi_1938
1    1127492853171535872  hasoc_2020_hi_1201
2    1123638375896903681  hasoc_2020_hi_1628
3    1127496460310683648  hasoc_2020_hi_3257
4    1127667277535399937  hasoc_2020_hi_4133
..                   ...                 ...
658  1123814066907242503   hasoc_2020_hi_466
659  1127616035689979904  hasoc_2020_hi_1758
660  1127502823044702208  hasoc_2020_hi_3521
661  1127780829914992640  hasoc_2020_hi_1293
662  1127465619580788737  hasoc_2020_hi_3279

[663 rows x 2 columns]

In [40]:
predictions_test1=predictions_test.argmax(1)
pred_test1=pd.Series(predictions_test1)
pred_test1

0      1
1      1
2      1
3      1
4      1
      ..
658    1
659    1
660    1
661    0
662    1
Length: 663, dtype: int64

In [41]:
df3['label']=pred_test1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
df3

                tweet_id                  ID  label
0    1127781647783301120  hasoc_2020_hi_1938      1
1    1127492853171535872  hasoc_2020_hi_1201      1
2    1123638375896903681  hasoc_2020_hi_1628      1
3    1127496460310683648  hasoc_2020_hi_3257      1
4    1127667277535399937  hasoc_2020_hi_4133      1
..                   ...                 ...    ...
658  1123814066907242503   hasoc_2020_hi_466      1
659  1127616035689979904  hasoc_2020_hi_1758      1
660  1127502823044702208  hasoc_2020_hi_3521      1
661  1127780829914992640  hasoc_2020_hi_1293      0
662  1127465619580788737  hasoc_2020_hi_3279      1

[663 rows x 3 columns]

In [43]:
df3['label'] = df3['label'].map({0: "NOT",1:"HOF"})
df3

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                tweet_id                  ID label
0    1127781647783301120  hasoc_2020_hi_1938   HOF
1    1127492853171535872  hasoc_2020_hi_1201   HOF
2    1123638375896903681  hasoc_2020_hi_1628   HOF
3    1127496460310683648  hasoc_2020_hi_3257   HOF
4    1127667277535399937  hasoc_2020_hi_4133   HOF
..                   ...                 ...   ...
658  1123814066907242503   hasoc_2020_hi_466   HOF
659  1127616035689979904  hasoc_2020_hi_1758   HOF
660  1127502823044702208  hasoc_2020_hi_3521   HOF
661  1127780829914992640  hasoc_2020_hi_1293   NOT
662  1127465619580788737  hasoc_2020_hi_3279   HOF

[663 rows x 3 columns]

In [45]:
df3.to_csv('submission_HI_A.csv')

In [46]:
model.save("HindiDatasetSubTask1_withLSTM_Fasttext.h5")